<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  </head>

  <body>
  <div class="container">
    <div class="navbar-light bg-secondary justify-content-normal">
      <%= link_to 'Home', restaurants_path, class: "btn btn-secondary" %>
      <%= link_to 'Restaurants', restaurants_path, class: "btn btn-secondary" %>
    </div>
    <div classs="row">
     <%= yield %>
    </div>
  </body>
</html>
